<html lang="en">
          <head>
            <meta charset="utf-8">

            <title>Html Generated</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="styles.css">

            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>

          </head>

          <body>
            <div class=e10_28><div  class="e10_29"></div><div  class="e10_30"></div><div  class="e10_31"></div><div  class="e10_33"></div><div  class="e10_34"></div><div  class="e10_35"></div><div  class="e10_36"></div><div  class="e10_37"></div><span  class="e10_51">CATÁLOGO</span><div  class="e10_55"></div><span  class="e10_73">FACEBOOK</span><span  class="e10_70">INSTAGRAM</span><span  class="e10_67">SOBRE NÓS</span><span  class="e10_64">IDEIAS</span><span  class="e10_61">COMPRAS</span><span  class="e10_58">HOME</span><div  class="e22_17"></div><span  class="e22_18">Kit Kérastase Curl Manifesto Fondamentale (3 Produtos)</span><div  class="e22_19"></div><span  class="e22_20">Kit DaBelle Hair Cachos da Onda Full (7 Produtos)</span><div  class="e22_21"></div><span  class="e22_22">Kit Completo Siàge Revela Os Cachos (Nova Versão)</span><div  class="e22_23"></div><span  class="e22_24">Deva Curl Heaven In Hair Kit - Low Poo + Condicionador + Máscara Hidratante
De R$ 311,70</span><div  class="e22_25"></div><span  class="e22_26">Kit Cachos Soltos com Ativador</span><div  class="e22_27"></div><span  class="e22_28">Combo Match Cachos: Pente para Cachos + Shampoo + Condicionador</span><div  class="e22_30"></div><span  class="e22_31">Dia de Noiva</span></div>
          </body>
          </html>